<router-outlet></router-outlet>
<div class="container">
  <div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div class="single-soundtrack-card" *ngIf="soundtrack">
    <div class="soundtrack-info">
      <!-- Album Cover -->
      <img
        [src]="soundtrack.albumCoverUrl"
        width="100"
        height="100"
        alt="Album Cover"
        class="album-cover"
        (error)="utilities.onImageError($event)"
      >

      <!-- Soundtrack Title and Length -->
      <div class="track-details">
        <h3>{{ soundtrack.title }}</h3>
        <p class="length">{{ utilities.convertSecondsToTime(soundtrack.lengthInSeconds) }}</p>
        <p class="listenings">
          <span class="listenings-count">{{ soundtrack.listenings || 0 }}</span> listenings
        </p>
      </div>
    </div>

    <!-- Audio Player -->
    <app-audio-player
      [id]="soundtrack.id"
      [title]="soundtrack.title"
      [audioUrl]="soundtrack.musicFileUrl"
      [albumCoverUrl]="soundtrack.albumCoverUrl"
      [nextTrackId]="soundtrack.nextTrackSlug"
      [prevTrackId]="soundtrack.prevTrackSlug"
    ></app-audio-player>

    <div class="navigation-buttons">
      <button
        class="prev-btn"
        mat-icon-button
        (click)="navigateToTrack(soundtrack.prevTrackSlug)"
        [disabled]="!soundtrack.prevTrackSlug || soundtrack.prevTrackSlug === '00000000-0000-0000-0000-000000000000'"
      >
        <mat-icon>skip_previous</mat-icon>
      </button>

      <button
        class="next-btn"
        mat-icon-button
        (click)="navigateToTrack(soundtrack.nextTrackSlug)"
        [disabled]="!soundtrack.nextTrackSlug || soundtrack.nextTrackSlug === '00000000-0000-0000-0000-000000000000'"
      >
        <mat-icon>skip_next</mat-icon>
      </button>
    </div>
  </div>

</div>


<div *ngIf="!soundtrack && !isLoading" class="error">
  <h3>Soundtrack not found.</h3>
</div>
