<div class="soundtrack-list">

  <h2>Soundtracks</h2>

  <app-upload-track (updateList)="fetchSoundTracks()" *ngIf="isLoggedIn && isAdmin"></app-upload-track>

  <h3 *ngIf="soundTackList.length == 0 && !isLoading">There is no soundtracks yet..</h3>

  <div class="custom-spinner">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

  <div class="soundtrack-item" *ngFor="let track of soundTackList">
    <div class="soundtrack-info">
      <img
        ngSrc="{{this.albumCoverUrl}}{{track.albumCoverFileName}}"
        width="70"
        height="70"
        alt="Album Cover"
        class="album-cover"
        (error)="onImageError($event)"
      >

      <div class="soundtrack-info">
        <h3>{{ track.title }}</h3>
        <p class="length">{{ convertSecondsToTime(track.lengthInSeconds) }}</p>
      </div>
    </div>

    <div class="controls">
      <div class="play-button"
           *ngIf="!track.showPlayer"
           (click)="togglePlayer(track)"
           [ngClass]="{disabled: track.showPlayer}">
        <mat-icon>play_arrow</mat-icon>
      </div>

      <app-audio-player
                        *ngIf="track.showPlayer"
                        [id]="track.id"
                        [title]="track.title"
                        [albumCoverName]="track.albumCoverFileName"
                        [ngClass]="{disabled: !track.showPlayer}"
      ></app-audio-player>

      <app-delete-button *ngIf="isLoggedIn && isAdmin" [soundtrackId]="track.id" (onDeleted)="fetchSoundTracks()">
      </app-delete-button>
    </div>
  </div>
</div>
