<div class="soundtrack-list">

  <h2>Soundtracks</h2>

  <app-upload-track (updateList)="fetchSoundTracks()" *ngIf="isLoggedIn && isAdmin"></app-upload-track>

  <h3 *ngIf="soundTackList.length == 0 && !isLoading">There is no soundtracks yet..</h3>

  <div class="custom-spinner">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>

  <div class="soundtrack-item" *ngFor="let track of soundTackList">
    <div class="soundtrack-info">
      <img
        [src]="albumCoverUrl"
        alt="Album Cover"
        class="album-cover"
        (error)="onImageError($event)"
      >

      <div class="soundtrack-info">
        <h3>{{ track.title }}</h3>
        <p class="length">{{ convertSecondsToTime(track.lengthInSeconds) }}</p>
      </div>
    </div>

    <app-audio-player [id]="track.id" [title]="track.title"></app-audio-player>

    <app-delete-button *ngIf="isLoggedIn && isAdmin" [soundtrackId]="track.id" (onDeleted)="fetchSoundTracks()">
    </app-delete-button>
  </div>
</div>
