<div class="soundtrack-list">

  <h2>Soundtracks</h2>

  <app-upload-track (updateList)="fetchSoundTracks()" *ngIf="isAdmin"></app-upload-track>

  <h3 *ngIf="soundTackList.length == 0">There is no soundtracks yet..</h3>


  <div class="soundtrack-item" *ngFor="let track of soundTackList">
    <div class="soundtrack-info">
      <img src="assets/default-cover.jpg" alt="Album Cover" class="album-cover">
      <div class="soundtrack-info">
        <a href="http://localhost:5064/api/Streaming/{{track.title}}{{track.extension}}">
          <h3>{{ track.title }}</h3>
        </a>
        <p class="length">{{ convertSecondsToTime(track.lengthInSeconds) }}</p>
      </div>
    </div>
    <app-delete-button *ngIf="isAdmin" [soundtrackId]="track.id" (onDeleted)="fetchSoundTracks()">
    </app-delete-button>
  </div>
</div>