<div class="upload-section">
  <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload accept="audio/*">

  <div class="file-upload">
    {{ fileName || "No file uploaded yet." }}

    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>

    <button *ngIf="selectedFile" mat-mini-fab color="accent" class="upload-action-btn" (click)="uploadSoundtrack()"
      [disabled]="!selectedFile">
      <mat-icon>cloud_upload</mat-icon>
    </button>
  </div>

  <div class="progress">
    <mat-progress-bar *ngIf="uploadProgress !== null" class="progress-bar" mode="determinate"
      [value]="uploadProgress"></mat-progress-bar>
    <mat-icon class="cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress !== null">delete_forever</mat-icon>
  </div>

  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
</div>