html, body {
    margin: 0;
    padding: 0;
    background-color: #2A2A2A; /* Rich Black */
    color: #FFFFFF; /* White text for good contrast */
    font-family: 'Montserrat', sans-serif; /* Example font */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: #39FF14 !important;
}

