.delete-button {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;

  }
  
  .delete-button:hover {
    background-color: #ff1f1f;
  }